{% extends "college.html" %}

{% block title %} College {% endblock %}

{% block content %} 

<ol>
<li><a href={{scholarship}}>Scholarship</a></li>
<li><a href={{curr_url}}>Conference</a></li>
<li><a href={{curr_url}}>Student Organization</a></li>
<li><a href={{curr_url}}>Preparation</a></li>
<li><a href={{curr_url}}>College Guidance</a></li>
<li><a href={{curr_url}}>Career Guidance</a></li>
</ol>

{% endblock %}

{% block results %}

{% for res in resources %}
	<p>
	<h2> {{res.name}} </h2>
	{{res.website}}, {{res.overview}}
	</p>
{% endfor %}

{% endblock %}
 